pip install fastapi==0.116.1
pip install uvicorn==0.35.0
pip install pypdf==5.9.0
pip install pinecone==7.3.0
pip install google-genai==1.31.0
pip install langchain==0.3.27
pip install langchain-community==0.3.29
pip install langchain-huggingface==0.1.2
pip install sentence-transformers==5.1.0
pip install python-dotenv==1.1.1
pip install python-multipart==0.0.20
pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cpu